.card-bg{
	background-color: #a2a2a3;
	color: #fff;
	border-radius: 15px;
	margin-bottom: 10%;
	-webkit-box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.75);
}

.btn-lis{
	color: #fff;
	width: 100px;
	height: 30px;
	background-color: #009AAB;
	border-radius: 9px;
	padding: initial;
	margin: 2%;
	margin-top: 3%;
	margin-bottom: 8%;
}
.btn-reg{
	color: #fff;
	width: 100px;
	height: 30px;
	background-color: #34495e;
	border-radius: 9px;
	padding: initial;
	margin: 2%;
	margin-top: 3%;
	margin-bottom: 8%;
}

.card-m{
	margin-top: 10%;
}

.text-tr{
	text-transform: uppercase;
}