body{
  font-family: 'Lato' , sans-serif;
}

.card{
  margin: 2% 1% 1% 10%;
  width: 360px !important;
  height: 510px !important;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.75);
}

.card-img, .card-img-top {
  width: 100% !important;
  height: 58%;
  border-radius: 0;
}

.card-title.ti-a{
  color: #000;
  background-color: #ff0000;
  height: 55px;
  padding-top: 15px;
  margin-bottom: 0;
  text-align: center;
  border-radius: 15px 15px 0 0;
}

.card-title.ti-m{
  color: #000;
  background-color: #ffc000;
  height: 55px;
  padding-top: 15px;
  margin-bottom: 0;
  text-align: center;
  border-radius: 15px 15px 0 0;
}

.card-title.ti-b{
  color: #000;
  background-color: #92d050;
  height: 55px;
  padding-top: 15px;
  margin-bottom: 0;
  text-align: center;
  border-radius: 15px 15px 0 0;
}

.img-size{
  width: 100%;
  height: 100%;
}

.img-slid{
  width: 100%;
  height: 746px;
}

.carousel-item{
  text-align: center;
}

.btn-f1{
  color: #fff;
  margin-right: 20px;
  background-color: #adb5bd;
  border-radius: 9px;
  text-align: left;
}

.btn-f1:focus,
.btn-f1.has-focus,
.btn-f1:hover {
  background-color: #fff;
  border: 1px solid currentColor;
}

.btn-f2{
  color: #fff;
  padding-left: 20px;
  background-color: #adb5bd;
  border-radius: 9px;
  text-align: left;
}

.btn-f2:focus,
.btn-f2.has-focus,
.btn-f2:hover {
  background-color: #fff;
  border: 1px solid currentColor;
}

select {
  background-image: url(../img/Flecha.png);
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

.filt{
  margin-right: 11px;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  color: #34495e;
}