.modal-content {
	border-radius: 15px !important
}

.modal-header{
	color: #fff;
	font-weight: bolder;
	background-color: #0098a9;
	border-top-right-radius: 15px !important;
	border-top-left-radius: 15px !important;
}

.modal-dialog {
	max-width: 65% !important;
	margin: 1.75rem auto;
}

.modal-footer{
	justify-content: center;
	border-top: 0;
}

select {
	background-image: url(../img/Flecha.png);
	background-repeat: no-repeat;
	background-position: right center;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
select::-ms-expand {
	display: none;
}

.btn-env{
	color: #fff;
	width: 100px;
	height: 30px;
	background-color: #009AAB;
	border-radius: 9px;
	padding: initial;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 50px;
}

.btn-env:focus,
.btn-env.has-focus,
.btn-env:hover {
	background-color: #fff;
	border: 1px solid currentColor;
}

.btn-close{
	color: #fff !important;
	width: 100px;
	height: 30px;
	background-color: #e74c3c;
	border-radius: 9px;
	padding: initial;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 50px;
}

.btn-close:focus,
.btn-close.has-focus,
.btn-close:hover {
	color: #000 !important;
	background-color: #fff;
	border: 1px solid currentColor !important;
}

.col-form-label {
	padding-top: calc(1rem + 1px) !important;
}

.check-P{
	margin-left: 45% !important;
}

.check-Ps{
	margin-left: 25% !important;
}

.imgAdd{
	width: 26.5%;
	margin-top: 25%;
	margin-left: -12%;
}

.imgRem{
	width: 3.5%;
	margin-top: 2%;
}

.Mtop{
	margin-top: 2%;
}

.Mbott{
	margin-bottom: 5%;
}

.img-St{
	border: 1.50px solid #34495e;
	border-radius: 9px;
	height: 255px;
	width: 339px;
}

.img-slid{
	width: 100%;
	height: 746px;
}