#bg-info {
	background-color: #009AAB !important;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff !important;
}

.navbar-brand {
	display: none !important;
}

.form-control {
	color: #34495e !important;
	border-radius: 9px !important;
	border: 1px solid #34495e !important;
}

/*Estilos navbar vertical*/

.bg-color{
	background-color: #34495E;
}

.family{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	margin-bottom: 15%;
}

.fa-size {
	text-align: center;
	width: 3.25rem !important;
	align-items: center;
}

.vertical-nav {
	min-width: 17rem;
	width: 17rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
}

.page-content {
	width: calc(100% - 17rem);
	margin-left: 17rem;
	transition: all 0.4s;
}

/* Estilos navegacion */

#sidebar.active {
	margin-left: -17rem;
}

#content.active {
	width: 100%;
	margin: 0;
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -17rem;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#content {
		width: 100%;
		margin: 0;
	}
	#content.active {
		margin-left: 17rem;
		width: calc(100% - 17rem);
	}
}

body {
	background: #599fd9;
	background: #fff;
	min-height: 100vh !important;
	overflow-x: hidden !important;
}

.separator {
	margin: 3rem 0;
	border-bottom: 1px dashed #fff;
}

.container{
	margin-right: 0px !important;
}

.text-uppercase {
	letter-spacing: 0.1em;
}

.text-gray {
	color: #aaa;
}