label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

label.error {
  position: absolute;
  right: 10%;
  bottom: 5px;
  display: block;
  font-size: 14px;
  color: #ff0000;
}