body{
  background-image: url(../img/Bg-principal.png);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

strong{
  font-family: sans-serif;
}

a:hover {
  cursor: hand;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: flex !important;
  align-items: center;
  justify-content: center !important;
  background: #0098a9;
  z-index: 100;
}

.text-foo{
  color: #fff;
}

.nav-tabs > li > a {
 margin-right: 2px; 
 line-height: 1.42857143; 
 border: 1px solid transparent; 
 border-radius: 4px 4px 0 0; 
}

.nav > li > a {
 position: relative; 
 display: block; 
 padding: 10px 15px; 
 font-size: 20px;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border-bottom: 1px solid #eeeeee;
  box-shadow: none;
  color: inherit;
  background-color: transparent;
  -webkit-transition: box-shadow .4s ease;
  transition: box-shadow .4s ease;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  box-shadow: 0 1px 1px -2px #00838f, inset 0 -1px 0 #00838f;
  background-color: transparent;
}

.titleLogin {
  padding-top: 15%;
  text-align: center;
  font-size: 35px;
  color: #34495e;
}

.titleMante{
  text-align: center;
  font-size: 35px;
  color: #34495e;
}

.red{
  color: red;
}

.container-fluid{
  margin-bottom: 5% !important;
}

.btn-sub{
  background-color: #0098a9;
  color: #fff;
}

.logStyle{
  background-color: #fff;
  padding-bottom: 1px;
  border-radius: 0 0 30px 30px;
}

.form-control{
  color: #34495e !important;
  border-radius: 9px !important;
  border: 2px solid #34495e !important;
}

select {
  background-image: url(../img/Flecha.png);
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

.btn-env{
  color: #fff;
  background-color: #009AAB;
  border-radius: 9px;
  text-align: left;
}

.btn-env:focus,
.btn-env.has-focus,
.btn-env:hover {
  background-color: #fff;
  border: 1px solid currentColor;
}

.btn-txt{
  width: 20%;
  text-align: center;
}

#menu {
  list-style: none;
  margin: 10% 0 0 0;
  padding: 0;
}

#menu li{
  display: inline-block;
  width: 50%;
  margin-right: -4px;
}

#menu li a{
  background-color: rgba(52, 73, 94, 0.73);;
  color: #fff;
  text-align: center;
  font-size: 20px;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

#menu li a:hover{
  color:#34495e !important;
  background-color: #fff;
}

.active{
  color:#34495e !important;
  background-color: #fff !important;
}

#login{
  display: none;
}

.img{
 background-repeat: no-repeat;
 background-attachment: fixed;  
 background-size: cover;
}